.employees-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
}

.employees-container img{
    border-radius: 50%;
    object-fit: cover;
    width: 4rem;
    margin-right: 1rem;
}

.columns {
    flex-direction: column;
}